# silly macOS
.DS_Store

# build files
build/
./ide_profiles/VisualStudio/.vs/
./ide_profiles/products/
/ide_profiles/products/msbuild.windows.x64.v141.Debug
/ide_profiles/VisualStudio/.vs/CarND-Unscented-Kalman-Filter-Project/v15
/build/
*.user
